{% extends 'base.html' %}



{% block content %}

<h1>Cuotas</h1>

                  
  {% for cuota in cuotas %}
 
    <!--<a href="{% url 'detalle_cuotas' cuota.IdExpensa %}">-->
      <table class=" table  table-striped  table-hover  "> 
        <tr>
          <td>Año</td>
          <td>mes</td>
          <td>importe</td>
          <td>pagado</td>
          <td> Fecha de pago</td>
        </tr>
        {% if cuota.fechapago %}
      <tr>
          <td>{{cuota.anio}}</td> 
           <td>{{cuota.mes}} </td> 
          <td>{{cuota.importe}}</td>
          <td>{{couta.pagado}}</td>
          <td>{{cuota.fechapago|date:'M j Y:i'}}</td>

      {% else %}

      <td>{{cuota.anio}}</td>
       <td>{{cuota.mes}}</td>  
       <td>{{cuota.importe}}</td>
      
   
  </form>
  {% endif %}
  </tr>
  </table>

  {% endfor %}
  
  <button>
    Subir Pago
  </button>

{% endblock %}
